<a href="https://colab.research.google.com/github/rain2624/KPMG_virtual_project/blob/main/KPMG_Project_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KPMG (Virtual Data Analytics Internship)

---

The internship involves solving a project related to its client Sprocket Central Pty Ltd. It is a medium size bikes & cycling accessories organisation, has approached Tony Smith (Partner) in KPMG’s Lighthouse & Innovation Team. 

Primarily, Sprocket Central Pty Ltd needs help with its customer and transactions data. The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy. 

The client provided KPMG with 3 datasets:

*  Customer Demographic 
*  Customer Addresses
*  Transactions data in the past 3 months

Over the course of the client project there will be 3 task involved:

1.   Data Quality Assessment 
2.   Data model building
3.   Data visualization

## 1. Data Quality Assessments
---


In this stage we are going to meet the following criteria:
1. Accuracy 
2. Completeness
3. Consistency
4. Relevancy
5. Validity
6. Unique

### 1.Background of each dataset

---

**Importing the libraries and the dataset**

In [ ]:
# Importing library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Importing dataset
sprocket_central =  pd.ExcelFile('sprocket_central.xlsx')
transactions =  pd.read_excel(sprocket_central, 'Transactions')

In [ ]:
# Let's import other dataset as well:
new_customer_list =  pd.read_excel(sprocket_central, 'NewCustomerList')
customer_demographic =  pd.read_excel(sprocket_central, 'CustomerDemographic')
customer_address =  pd.read_excel(sprocket_central, 'CustomerAddress')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  This is separate from the ipykernel package so we can avoid doing imports until

**Let's look at the basic background of each dataset.**

###1.1 Transactions 
---

In [ ]:
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

### 1.2 New Customer List
---

In [ ]:
new_customer_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.79,0.9875,1.234375,1.049219,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.40,0.4000,0.500000,0.425000,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.09,1.0900,1.090000,1.090000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.42,0.5250,0.525000,0.525000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.52,0.5200,0.650000,0.650000,4,4,1.703125

In [ ]:
new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

### 1.3 Customer Demographic

In [ ]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [ ]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

### 1.4 Customer Address

In [ ]:
customer_address.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

### 2 . Accuracy:
* In this section will look at the data type of the variable and try to correct it for proper analysis

### 2.1. Transactions

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

This dataset have 13 columns out of which 6 columns have impproper data type

In [ ]:
# Lets first correct the variables from object to intger:
transactions = transactions.astype({"transaction_id":"int","product_id":"int",
                                    "customer_id":"int"})

In [ ]:
# Lets convert the cost and price values to float data type:
transactions = transactions.astype({"list_price":"float","standard_cost":"float"})

In [ ]:
# We also need to convert date variables from object to date time format.
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'])

In [ ]:
transactions.tail()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

Product first sold date does not seems to be a date like value and will needed to be verfied from the source of the dataset (i.e. Sprockect Central)

### 2.2.Customer Demographic

---

In [ ]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

* This Dataset have all fields with correct data types, except 'default field' about which will be discussed in later stage.
* By it's name default we are unable to understand what kind of info it holds.

### 2.3. Customer Address
---

In [ ]:
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

* This dataset have all fields with correct data types.

### 3.Completeness 
*   This stage will involve looking at missing values

### 3.1. Transaction dataset

---

In [ ]:
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

There are 7 out of 13 fields having missing values.

### 3.2. Customer deomographic

---

In [ ]:
customer_demographic.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

This dataset have 4 out of 13 columns with missing values.

### 3.3. Customer Address

---

In [ ]:
customer_address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

This dataset have 0 missing values

### 4.Consistency


*   This phase involves looking at errors or contradictory values.

### 4.1. Transaction

---

In [ ]:
# Looking at the bottom 5 rows :
transactions.tail()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [ ]:
# Now lets look at the types of value in each fields:
# column 1
transactions['transaction_id'].unique()

array([    1,     2,     3, ..., 19998, 19999, 20000])

In [ ]:
# column 2
transactions['product_id'].unique()

array([  2,   3,  37,  88,  78,  25,  22,  15,  67,  12,   5,  61,  35,
        16,  79,  33,  54,  27,  82,  89,  64,  19,  72,  91,   1,  99,
         0,  92,  14,  44,  76,  46,  55,  66,  81,  86,  32,  77,  96,
         6,  47,  94,  93,  60,  28,   4,  38,  56,  58,  50,  80,  87,
        84,  21,  31,  62,  17,  73,  45,  49,  95,  18,  70,  26,  39,
        36,  98,  75,  42,  20,  24,  53,  65,  29,  11,  10,   7,  41,
         9,  69,  90,  97, 100,  74,  71,  34,  57,  23,  51,  59,  63,
        40,   8,  13,  30,  48,  68,  83,  43,  52,  85])

In [ ]:
# column 3
transactions['customer_id'].unique()

array([2950, 3120,  402, ...,  130, 2789, 3446])

In [ ]:
# Column 4 --- transaction_date
transactions['transaction_date'].unique()

array(['2017-02-25T00:00:00.000000000', '2017-05-21T00:00:00.000000000',
       '2017-10-16T00:00:00.000000000', '2017-08-31T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000', '2017-03-08T00:00:00.000000000',
       '2017-04-21T00:00:00.000000000', '2017-07-15T00:00:00.000000000',
       '2017-08-10T00:00:00.000000000', '2017-08-30T00:00:00.000000000',
       '2017-01-17T00:00:00.000000000', '2017-01-05T00:00:00.000000000',
       '2017-02-26T00:00:00.000000000', '2017-09-10T00:00:00.000000000',
       '2017-06-11T00:00:00.000000000', '2017-10-10T00:00:00.000000000',
       '2017-04-03T00:00:00.000000000', '2017-06-02T00:00:00.000000000',
       '2017-04-06T00:00:00.000000000', '2017-01-28T00:00:00.000000000',
       '2017-10-09T00:00:00.000000000', '2017-06-29T00:00:00.000000000',
       '2017-04-08T00:00:00.000000000', '2017-10-18T00:00:00.000000000',
       '2017-01-10T00:00:00.000000000', '2017-04-11T00:00:00.000000000',
       '2017-12-23T00:00:00.000000000', '2017-10-13T00:00:00.000000000',
       '2017-03-15T00:00:00.000000000', '2017-09-05T00:00:00.000000000',
       '2017-02-18T00:00:00.000000000', '2017-03-20T00:00:00.000000000',
       '2017-02-28T00:00:00.000000000', '2017-08-20T00:00:00.000000000',
       '2017-07-07T00:00:00.000000000', '2017-01-09T00:00:00.000000000',
       '2017-12-06T00:00:00.000000000', '2017-09-12T00:00:00.000000000',
       '2017-11-28T00:00:00.000000000', '2017-05-08T00:00:00.000000000',
       '2017-05-14T00:00:00.000000000', '2017-03-17T00:00:00.000000000',
       '2017-12-22T00:00:00.000000000', '2017-06-07T00:00:00.000000000',
       '2017-06-20T00:00:00.000000000', '2017-05-07T00:00:00.000000000',
       '2017-06-10T00:00:00.000000000', '2017-06-17T00:00:00.000000000',
       '2017-05-10T00:00:00.000000000', '2017-03-24T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-12-21T00:00:00.000000000',
       '2017-02-09T00:00:00.000000000', '2017-09-18T00:00:00.000000000',
       '2017-11-14T00:00:00.000000000', '2017-02-15T00:00:00.000000000',
       '2017-12-18T00:00:00.000000000', '2017-02-24T00:00:00.000000000',
       '2017-12-17T00:00:00.000000000', '2017-07-08T00:00:00.000000000',
       '2017-05-16T00:00:00.000000000', '2017-02-23T00:00:00.000000000',
       '2017-07-03T00:00:00.000000000', '2017-09-30T00:00:00.000000000',
       '2017-10-21T00:00:00.000000000', '2017-05-06T00:00:00.000000000',
       '2017-01-03T00:00:00.000000000', '2017-05-09T00:00:00.000000000',
       '2017-07-23T00:00:00.000000000', '2017-01-21T00:00:00.000000000',
       '2017-03-10T00:00:00.000000000', '2017-11-07T00:00:00.000000000',
       '2017-12-16T00:00:00.000000000', '2017-10-07T00:00:00.000000000',
       '2017-04-27T00:00:00.000000000', '2017-04-01T00:00:00.000000000',
       '2017-11-02T00:00:00.000000000', '2017-02-13T00:00:00.000000000',
       '2017-07-19T00:00:00.000000000', '2017-05-23T00:00:00.000000000',
       '2017-08-06T00:00:00.000000000', '2017-04-04T00:00:00.000000000',
       '2017-08-15T00:00:00.000000000', '2017-04-15T00:00:00.000000000',
       '2017-07-25T00:00:00.000000000', '2017-02-21T00:00:00.000000000',
       '2017-05-31T00:00:00.000000000', '2017-06-23T00:00:00.000000000',
       '2017-03-26T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2017-07-27T00:00:00.000000000', '2017-04-14T00:00:00.000000000',
       '2017-11-12T00:00:00.000000000', '2017-10-26T00:00:00.000000000',
       '2017-10-11T00:00:00.000000000', '2017-03-27T00:00:00.000000000',
       '2017-11-04T00:00:00.000000000', '2017-10-24T00:00:00.000000000',
       '2017-05-01T00:00:00.000000000', '2017-11-21T00:00:00.000000000',
       '2017-03-21T00:00:00.000000000', '2017-02-20T00:00:00.000000000',
       '2017-06-16T00:00:00.000000000', '2017-12-04T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-03-05T00:00:00.000000000',
       '2017-03-16T00:00:00.000000000', '2017-06-05T00:00:00.000000000',
       '2017-09-04T00:00:00.000000000', '2017-01-18T00:00:00.000000000',
       '2017-09-28T00:00:00.000000000', '2017-09-02T00:00:00.000000000',
       '2017-10-17T00:00:00.000000000', '2017-04-25T00:00:00.000000000',
       '2017-09-23T00:00:00.000000000', '2017-08-02T00:00:00.000000000',
       '2017-03-25T00:00:00.000000000', '2017-01-01T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2017-01-26T00:00:00.000000000',
       '2017-12-20T00:00:00.000000000', '2017-01-13T00:00:00.000000000',
       '2017-11-11T00:00:00.000000000', '2017-08-19T00:00:00.000000000',
       '2017-08-22T00:00:00.000000000', '2017-09-15T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-08-16T00:00:00.000000000',
       '2017-08-27T00:00:00.000000000', '2017-07-10T00:00:00.000000000',
       '2017-12-11T00:00:00.000000000', '2017-05-20T00:00:00.000000000',
       '2017-07-30T00:00:00.000000000', '2017-10-25T00:00:00.000000000',
       '2017-04-26T00:00:00.000000000', '2017-02-02T00:00:00.000000000',
       '2017-05-02T00:00:00.000000000', '2017-10-22T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2017-03-30T00:00:00.000000000',
       '2017-04-13T00:00:00.000000000', '2017-01-31T00:00:00.000000000',
       '2017-03-18T00:00:00.000000000', '2017-01-07T00:00:00.000000000',
       '2017-07-05T00:00:00.000000000', '2017-11-19T00:00:00.000000000',
       '2017-11-08T00:00:00.000000000', '2017-07-24T00:00:00.000000000',
       '2017-01-15T00:00:00.000000000', '2017-01-12T00:00:00.000000000',
       '2017-06-30T00:00:00.000000000', '2017-06-22T00:00:00.000000000',
       '2017-12-27T00:00:00.000000000', '2017-06-08T00:00:00.000000000',
       '2017-07-29T00:00:00.000000000', '2017-05-27T00:00:00.000000000',
       '2017-05-05T00:00:00.000000000', '2017-09-09T00:00:00.000000000',
       '2017-09-22T00:00:00.000000000', '2017-04-12T00:00:00.000000000',
       '2017-12-14T00:00:00.000000000', '2017-03-22T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2017-06-09T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2017-04-09T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2017-03-13T00:00:00.000000000',
       '2017-08-12T00:00:00.000000000', '2017-08-04T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2017-07-02T00:00:00.000000000',
       '2017-03-11T00:00:00.000000000', '2017-10-08T00:00:00.000000000',
       '2017-11-23T00:00:00.000000000', '2017-01-22T00:00:00.000000000',
       '2017-01-29T00:00:00.000000000', '2017-07-21T00:00:00.000000000',
       '2017-02-10T00:00:00.000000000', '2017-11-25T00:00:00.000000000',
       '2017-12-03T00:00:00.000000000', '2017-12-30T00:00:00.000000000',
       '2017-07-26T00:00:00.000000000', '2017-06-15T00:00:00.000000000',
       '2017-07-06T00:00:00.000000000', '2017-12-28T00:00:00.000000000',
       '2017-01-30T00:00:00.000000000', '2017-06-26T00:00:00.000000000',
       '2017-08-13T00:00:00.000000000', '2017-01-25T00:00:00.000000000',
       '2017-07-11T00:00:00.000000000', '2017-04-30T00:00:00.000000000',
       '2017-05-19T00:00:00.000000000', '2017-05-26T00:00:00.000000000',
       '2017-02-03T00:00:00.000000000', '2017-04-28T00:00:00.000000000',
       '2017-03-23T00:00:00.000000000', '2017-06-03T00:00:00.000000000',
       '2017-05-04T00:00:00.000000000', '2017-03-29T00:00:00.000000000',
       '2017-10-03T00:00:00.000000000', '2017-08-07T00:00:00.000000000',
       '2017-02-07T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-04-05T00:00:00.000000000', '2017-10-28T00:00:00.000000000',
       '2017-08-25T00:00:00.000000000', '2017-01-20T00:00:00.000000000',
       '2017-03-14T00:00:00.000000000', '2017-05-24T00:00:00.000000000',
       '2017-11-18T00:00:00.000000000', '2017-04-07T00:00:00.000000000',
       '2017-01-04T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-04-20T00:00:00.000000000', '2017-03-07T00:00:00.000000000',
       '2017-08-01T00:00:00.000000000', '2017-06-19T00:00:00.000000000',
       '2017-01-23T00:00:00.000000000', '2017-04-19T00:00:00.000000000',
       '2017-08-11T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-11-01T00:00:00.000000000', '2017-10-05T00:00:00.000000000',
       '2017-10-30T00:00:00.000000000', '2017-01-02T00:00:00.000000000',
       '2017-07-09T00:00:00.000000000', '2017-10-20T00:00:00.000000000',
       '2017-11-10T00:00:00.000000000', '2017-08-14T00:00:00.000000000',
       '2017-09-13T00:00:00.000000000', '2017-05-03T00:00:00.000000000',
       '2017-01-24T00:00:00.000000000', '2017-08-03T00:00:00.000000000',
       '2017-08-28T00:00:00.000000000', '2017-06-24T00:00:00.000000000',
       '2017-10-27T00:00:00.000000000', '2017-03-03T00:00:00.000000000',
       '2017-12-02T00:00:00.000000000', '2017-10-15T00:00:00.000000000',
       '2017-10-12T00:00:00.000000000', '2017-03-19T00:00:00.000000000',
       '2017-06-27T00:00:00.000000000', '2017-02-27T00:00:00.000000000',
       '2017-03-12T00:00:00.000000000', '2017-06-14T00:00:00.000000000',
       '2017-02-17T00:00:00.000000000', '2017-09-14T00:00:00.000000000',
       '2017-04-17T00:00:00.000000000', '2017-05-11T00:00:00.000000000',
       '2017-11-03T00:00:00.000000000', '2017-10-02T00:00:00.000000000',
       '2017-12-10T00:00:00.000000000', '2017-05-25T00:00:00.000000000',
       '2017-08-26T00:00:00.000000000', '2017-09-06T00:00:00.000000000',
       '2017-04-24T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-02-12T00:00:00.000000000', '2017-07-22T00:00:00.000000000',
       '2017-09-26T00:00:00.000000000', '2017-12-05T00:00:00.000000000',
       '2017-03-31T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2017-04-29T00:00:00.000000000', '2017-07-14T00:00:00.000000000',
       '2017-09-08T00:00:00.000000000', '2017-04-22T00:00:00.000000000',
       '2017-01-11T00:00:00.000000000', '2017-08-09T00:00:00.000000000',
       '2017-05-29T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-07-28T00:00:00.000000000', '2017-04-23T00:00:00.000000000',
       '2017-07-04T00:00:00.000000000', '2017-10-19T00:00:00.000000000',
       '2017-09-21T00:00:00.000000000', '2017-04-02T00:00:00.000000000',
       '2017-08-18T00:00:00.000000000', '2017-08-21T00:00:00.000000000',
       '2017-03-06T00:00:00.000000000', '2017-01-16T00:00:00.000000000',
       '2017-02-22T00:00:00.000000000', '2017-03-09T00:00:00.000000000',
       '2017-01-27T00:00:00.000000000', '2017-12-19T00:00:00.000000000',
       '2017-04-16T00:00:00.000000000', '2017-10-04T00:00:00.000000000',
       '2017-02-16T00:00:00.000000000', '2017-08-17T00:00:00.000000000',
       '2017-02-01T00:00:00.000000000', '2017-12-08T00:00:00.000000000',
       '2017-08-23T00:00:00.000000000', '2017-05-12T00:00:00.000000000',
       '2017-03-04T00:00:00.000000000', '2017-05-28T00:00:00.000000000',
       '2017-07-20T00:00:00.000000000', '2017-07-13T00:00:00.000000000',
       '2017-10-14T00:00:00.000000000', '2017-06-12T00:00:00.000000000',
       '2017-02-14T00:00:00.000000000', '2017-02-11T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-06-28T00:00:00.000000000',
       '2017-06-04T00:00:00.000000000', '2017-04-18T00:00:00.000000000',
       '2017-09-16T00:00:00.000000000', '2017-05-15T00:00:00.000000000',
       '2017-05-22T00:00:00.000000000', '2017-06-06T00:00:00.000000000',
       '2017-12-09T00:00:00.000000000', '2017-07-18T00:00:00.000000000',
       '2017-02-06T00:00:00.000000000', '2017-11-09T00:00:00.000000000',
       '2017-06-21T00:00:00.000000000', '2017-07-17T00:00:00.000000000',
       '2017-10-29T00:00:00.000000000', '2017-05-13T00:00:00.000000000',
       '2017-10-06T00:00:00.000000000', '2017-02-04T00:00:00.000000000',
       '2017-11-05T00:00:00.000000000', '2017-02-08T00:00:00.000000000',
       '2017-11-06T00:00:00.000000000', '2017-09-20T00:00:00.000000000',
       '2017-04-10T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
       '2017-12-07T00:00:00.000000000', '2017-12-12T00:00:00.000000000',
       '2017-01-19T00:00:00.000000000', '2017-05-17T00:00:00.000000000',
       '2017-02-19T00:00:00.000000000', '2017-09-19T00:00:00.000000000',
       '2017-09-29T00:00:00.000000000', '2017-05-18T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-12-29T00:00:00.000000000',
       '2017-11-24T00:00:00.000000000', '2017-01-08T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2017-07-12T00:00:00.000000000',
       '2017-08-08T00:00:00.000000000', '2017-02-05T00:00:00.000000000',
       '2017-07-16T00:00:00.000000000', '2017-09-27T00:00:00.000000000',
       '2017-01-14T00:00:00.000000000', '2017-03-28T00:00:00.000000000',
       '2017-08-29T00:00:00.000000000', '2017-09-24T00:00:00.000000000',
       '2017-10-31T00:00:00.000000000', '2017-12-24T00:00:00.000000000',
       '2017-09-03T00:00:00.000000000', '2017-09-17T00:00:00.000000000',
       '2017-08-05T00:00:00.000000000', '2017-06-18T00:00:00.000000000',
       '2017-09-07T00:00:00.000000000', '2017-09-25T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-11-26T00:00:00.000000000',
       '2017-09-11T00:00:00.000000000', '2017-01-06T00:00:00.000000000',
       '2017-12-26T00:00:00.000000000', '2017-03-02T00:00:00.000000000',
       '2017-05-30T00:00:00.000000000', '2017-06-25T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [ ]:
# column 5 --- online_order
# Lets verify values for categorical variables
transactions['online_order'].unique()

array([ 0.,  1., nan])

In [ ]:
# column 6 --- order status
transactions['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [ ]:
# column 7 ---brand
transactions['brand'].unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B', nan], dtype=object)

In [ ]:
# column 8 ---product_line
transactions['product_line'].unique()

array(['Standard', 'Road', 'Mountain', 'Touring', nan], dtype=object)

In [ ]:
# column 9 ---product_class
transactions['product_class'].unique()

array(['medium', 'low', 'high', nan], dtype=object)

In [ ]:
# column 10 ---product_size
transactions['product_size'].unique()

array(['medium', 'large', 'small', nan], dtype=object)

In [ ]:
# column 11
transactions['list_price'].unique()

array([  71.49, 2091.47, 1793.43, 1198.46, 1765.3 , 1538.99,   60.34,
       1292.84, 1071.23, 1231.15,  574.64,   71.16, 1057.51, 1661.92,
       1555.58, 1311.44,  499.53, 1362.99, 1469.44,  360.4 ,  642.31,
       1403.5 , 1720.7 ,  544.05, 1415.01, 1842.92, 1769.64, 2083.94,
       1289.85, 1894.19, 1163.89, 1151.96,  235.63,  642.7 , 1240.31,
       1635.3 ,  227.88,  363.01,  100.35, 1458.17, 1977.36,   12.01,
       1216.14, 1129.13,  183.86,  912.52,  175.89, 1073.07, 1179.  ,
        958.74,  792.9 ,  290.62,  752.64,  478.16, 1024.66, 1945.43,
        441.49,  533.51,  569.56, 1148.64,  495.72, 1992.93, 1812.75,
        945.04,  358.39, 1873.97, 1810.  , 1775.81, 1777.8 ,  795.34,
        575.27, 1172.78, 1065.03, 1807.45, 1942.61, 1274.93, 1890.39,
        980.37,  416.98, 1386.84,  742.54,  230.91,  688.63,  748.17,
       1466.68, 1656.86,  202.62, 1036.59, 1228.07,  774.53,  586.45,
       1762.96, 2005.66, 1483.2 ,  590.26, 1703.52, 1577.53, 1636.9 ,
       1280.28, 1061.56,  850.89,  710.59,  543.39, 1227.34, 1972.01,
        311.54,  205.84,  605.54,  756.31,  850.  ,  571.27,  294.35,
        149.3 ,  447.25, 1348.41, 1021.43, 1163.77, 1294.66,  638.29,
       1202.34,  326.86,  814.86, 1102.68, 1880.4 , 1541.62,  639.38,
        402.14,  710.55, 1142.89,  813.6 , 1833.17, 1285.47, 1678.71,
        437.51,  366.22, 1199.26, 1888.45,  237.44,  317.3 , 1527.25,
       1563.94, 1146.42, 1192.33, 1672.07, 1099.68, 1281.6 , 1220.66,
       1061.92, 1502.93,  398.08,  101.55, 1957.87, 1095.66, 1776.08,
        752.36,  172.09, 1740.16, 1734.3 ,  240.72, 1958.34,  330.36,
       1709.26,   60.72, 1193.44, 2037.77, 1349.47,   56.21,  126.36,
       1300.96, 1697.27,   26.15,  875.99, 1862.82, 2028.26,  678.25,
        890.28, 1084.18, 1107.08, 1790.31,  724.37, 1095.65, 1223.24,
        541.44,  470.07, 2052.92, 1817.13, 1473.09, 1480.76, 2012.84,
       1711.35,  753.76,  840.02, 1922.94, 1759.3 ,  330.91, 1029.36,
       1487.8 , 1624.69, 1719.95,  899.52,  554.38,  960.51, 1978.64,
         36.78,   74.89, 1091.51,  695.23, 1148.41,  750.25, 1997.68,
       1392.76, 1294.37,  311.57,  899.92,  162.87, 1678.51, 1703.18,
        675.28,  487.8 , 1292.13, 1578.52,  922.15,  122.74,  435.66,
       1409.68, 1315.16, 1233.12,  758.73,  405.94, 1026.7 ,  687.9 ,
        494.96, 1181.89,  465.71,  880.3 , 1989.3 , 1413.98,  483.12,
        753.01,  883.91, 1216.4 ,   32.44,   16.08, 1184.  ,  587.02,
       1919.23, 1660.68, 1224.41, 1535.84,  150.51, 2062.95, 1689.63,
       1934.41,  889.05, 1617.32, 1788.93, 2064.08, 2020.14,  489.58,
       2076.81, 2061.38,  877.44, 1374.2 ,  731.41, 1034.17,  156.56,
        643.95,  517.53,  226.94, 1196.65,  634.57, 1571.83, 1999.54,
       1562.88, 1150.59,  356.05, 1780.22, 1438.9 ,  966.91,  918.43,
       1541.1 , 1476.88, 1023.39,  310.57,  356.39, 1695.42,  877.6 ,
       1401.63, 2086.07, 1761.75, 1615.62,  744.54, 1098.18,  868.56,
       1497.43,  867.92])

In [ ]:
# column 12
transactions['standard_cost'].unique()

array([  53.62     ,  388.92     ,  248.82     ,  381.1      ,
        709.48     ,  829.65     ,   45.26     ,   13.44     ,
        380.74     ,  161.6      ,  459.71     ,   56.93     ,
        154.4      , 1479.11     ,  818.01     , 1167.18     ,
        388.72     ,   57.74     ,  596.55     ,  270.3      ,
        513.85     ,  954.82     , 1531.42     ,  376.84     ,
       1259.36     , 1105.75     ,  108.76     ,  675.03     ,
         74.51     ,  598.76     ,  589.27     ,  649.49     ,
        125.07     ,  211.37     ,  795.1      ,  993.66     ,
        136.73     ,  290.41     ,   75.26     ,  874.9      ,
       1759.85     ,    7.21     , 1082.36     ,  677.48     ,
        137.9      ,  141.4      ,  131.92     ,  933.84     ,
        707.4      ,  748.9      ,  594.68     ,  215.14     ,
        205.36     ,  298.72     ,  614.8      ,  333.18     ,
         84.99     ,  400.13     ,  528.43     ,  689.18     ,
        297.43     ,  762.63     ,  582.48     ,  507.58     ,
        215.03     ,  863.95     , 1610.9      , 1580.47     ,
        820.78     ,  101.58     ,  431.45     , 1043.77     ,
        230.09     ,  778.69     ,          nan,  764.96     ,
        260.14     ,  234.43     ,  312.74     , 1234.29     ,
        667.4      ,  173.18     ,  612.88     ,  448.9      ,
        363.25     ,  151.96     ,  206.35     ,  400.91     ,
        464.72     ,  521.94     ,  950.52     , 1203.4      ,
         99.59     ,  525.33     , 1516.13     ,  826.51     ,
         44.71     ,  829.51     ,  733.58     ,  407.54     ,
        770.89     ,  312.7350159,  270.2999878,  667.4000244])

In [ ]:
# column 13
transactions['product_first_sold_date'].unique()

array([41245., 41701., 36361., 36145., 42226., 39031., 34165., 39915.,
       33455., 38216., 40784., 42172., 34527., 34586., 38193., 37873.,
       38206., 33888., 37337., 36334., 42145., 42404., 34079., 41047.,
       42560., 42710., 41922., 37539., 42688., 38991., 38647., 37874.,
       34996., 33549., 38693., 37668., 41533., 41009., 40553., 39427.,
       38482., 35470., 41434., 36367., 38750., 41848., 34244., 42696.,
       38258., 41167., 40672., 35707., 42295., 33552., 35667., 33879.,
       40670., 37626., 38339., 40303., 34143., 35160., 36668., 36498.,
       34071., 40649., 37823., 36146., 42105., 34115., 35052., 33364.,
       42218., 41345., 33429., 38859.,    nan, 36833., 37499., 41064.,
       33259., 35560., 37838., 37698., 35378., 38573., 38002., 39526.,
       39880., 40487., 40336., 40618., 34170., 40410., 42458., 39298.,
       35455., 37220., 37659., 40779., 34556.])

But it is date type column.

From the above analysis all the data fields have proper values.

###4.2. Customer demographic

---

In [ ]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [ ]:
# Now lets look at the values of the 13 variables
# column1
customer_demographic['first_name'].unique()

array(['Laraine', 'Eli', 'Arlin', ..., 'Stephie', 'Rusty', 'Sarene'],
      dtype=object)

In [ ]:
# column2
customer_demographic['last_name'].unique()

array(['Medendorp', 'Bockman', 'Dearle', ..., 'Halgarth', 'Woolley',
       'Oldland'], dtype=object)

In [ ]:
# column3
customer_demographic['gender'].unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

The gender column has an error of spelling mistake which can be easily corrected

In [ ]:
# Corrections:
customer_demographic[customer_demographic['gender'] == 'M'] = 'Male'
customer_demographic[customer_demographic['gender'] == 'Femal'] = 'Female'
customer_demographic[customer_demographic['gender'] == 'F'] = 'Female'

In [ ]:
# Lets chack again our corrections
customer_demographic['gender'].unique()

array(['Female', 'Male', 'U'], dtype=object)

In [ ]:
# column 4
customer_demographic['past_3_years_bike_related_purchases'].unique()

array(['Female', 81, 61, 33, 56, 35, 6, 31, 97, 49, 99, 58, 38, 85, 91,
       57, 79, 76, 72, 74, 43, 55, 12, 37, 5, 62, 18, 3, 17, 44, 59, 40,
       46, 64, 24, 63, 98, 51, 68, 22, 48, 'Male', 26, 60, 47, 73, 21, 67,
       16, 78, 30, 93, 94, 28, 20, 11, 1, 75, 41, 69, 19, 80, 83, 25, 54,
       4, 23, 65, 88, 10, 77, 9, 82, 87, 27, 53, 32, 34, 71, 36, 90, 95,
       8, 39, 2, 7, 42, 13, 45, 50, 14, 89, 84, 96, 70, 66, 0, 15, 86, 92,
       29, 52], dtype=object)

In [ ]:
# Now lets look at the complete rows and column with this error
customer_demographic[customer_demographic['past_3_years_bike_related_purchases'] == 'Female']

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female
53,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female

This might be a typing error which can be deleted.

In [ ]:
# Lets try to mitigate this issue:
customer_demographic.drop(customer_demographic.loc[customer_demographic['past_3_years_bike_related_purchases']=='Female'].index, inplace=True)

In [ ]:
# Lets check again:
customer_demographic[customer_demographic['past_3_years_bike_related_purchases'] == 'Female']

Empty DataFrame
Columns: [customer_id, first_name, last_name, gender, past_3_years_bike_related_purchases, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, default, owns_car, tenure]
Index: []

In [ ]:
# column 5
customer_demographic['DOB'].unique()

array([Timestamp('1980-12-16 00:00:00'), Timestamp('1954-01-20 00:00:00'),
       Timestamp('1961-10-03 00:00:00'), ...,
       Timestamp('1975-12-12 00:00:00'), Timestamp('2001-07-13 00:00:00'),
       Timestamp('1991-11-05 00:00:00')], dtype=object)

In [ ]:
# column 6
customer_demographic['job_title'].unique()

array(['Administrative Officer', 'Recruiting Manager', nan,
       'Senior Editor', 'Media Manager I',
       'Business Systems Development Analyst', 'Senior Quality Engineer',
       'Nuclear Power Engineer', 'Developer I', 'Account Executive',
       'Junior Executive', 'Media Manager IV', 'Sales Associate',
       'Professor', 'Geological Engineer', 'Project Manager',
       'Safety Technician I', 'Research Assistant I',
       'Accounting Assistant III', 'Editor', 'Research Nurse',
       'Safety Technician III', 'Staff Accountant III', 'Legal Assistant',
       'Product Engineer', 'Information Systems Manager',
       'VP Quality Control', 'Social Worker', 'Senior Cost Accountant',
       'Assistant Media Planner', 'Payment Adjustment Coordinator',
       'Food Chemist', 'Accountant III', 'Director of Sales',
       'Senior Financial Analyst', 'Registered Nurse',
       'Biostatistician II', 'Computer Systems Analyst II',
       'Software Test Engineer II', 'Paralegal', 'VP Sales', 'Male',
       'Office Assistant III', 'Physical Therapy Assistant',
       'Help Desk Operator', 'Web Developer II', 'Research Associate',
       'Teacher', 'VP Product Management', 'Statistician II',
       'Automation Specialist IV', 'Data Coordiator',
       'Software Test Engineer III', 'Internal Auditor',
       'Analyst Programmer', 'Occupational Therapist',
       'Speech Pathologist', 'Quality Control Specialist',
       'Civil Engineer', 'Software Engineer III',
       'Community Outreach Specialist', 'Safety Technician IV',
       'VP Accounting', 'General Manager', 'Nurse Practicioner',
       'Automation Specialist II', 'Marketing Assistant',
       'Marketing Manager', 'Staff Scientist', 'Assistant Professor',
       'Budget/Accounting Analyst IV', 'Associate Professor',
       'Graphic Designer', 'Administrative Assistant II',
       'Compensation Analyst', 'Systems Administrator III',
       'Financial Advisor', 'Chemical Engineer', 'Web Designer I',
       'Senior Developer', 'Office Assistant II', 'Recruiter', 'Operator',
       'Programmer Analyst III', 'Quality Engineer', 'Environmental Tech',
       'Analog Circuit Design manager', 'Cost Accountant', 'Librarian',
       'Structural Analysis Engineer', 'Pharmacist', 'Assistant Manager',
       'Accountant I', 'Web Designer III', 'Geologist III',
       'Software Test Engineer I', 'Structural Engineer',
       'Safety Technician II', 'Web Developer III',
       'Programmer Analyst II', 'Design Engineer', 'Statistician I',
       'VP Marketing', 'Desktop Support Technician', 'Actuary',
       'Database Administrator III', 'Electrical Engineer',
       'Tax Accountant', 'Clinical Specialist',
       'Database Administrator IV', 'Systems Administrator II',
       'Chief Design Engineer', 'Account Coordinator', 'Programmer III',
       'Administrative Assistant III', 'Nurse', 'Technical Writer',
       'Staff Accountant II', 'Dental Hygienist', 'Sales Representative',
       'Budget/Accounting Analyst III', 'Computer Systems Analyst IV',
       'Executive Secretary', 'Geologist I', 'Financial Analyst',
       'Accounting Assistant II', 'Senior Sales Associate',
       'Database Administrator II', 'Engineer I',
       'Budget/Accounting Analyst I', 'Developer IV',
       'Database Administrator I', 'Environmental Specialist',
       'Computer Systems Analyst I', 'Account Representative IV',
       'Statistician IV', 'Human Resources Manager',
       'GIS Technical Architect', 'Programmer IV',
       'Accounting Assistant IV', 'Software Engineer IV', 'Programmer II',
       'Engineer III', 'Software Consultant', 'Biostatistician IV',
       'Help Desk Technician', 'Automation Specialist I', 'Developer III',
       'Human Resources Assistant I', 'Geologist IV', 'Media Manager II',
       'Statistician III', 'Engineer II', 'Health Coach II',
       'Developer II', 'Systems Administrator I', 'Web Developer I',
       'Software Engineer II', 'Accounting Assistant I',
       'Research Assistant II', 'Programmer Analyst IV', 'Health Coach I',
       'Accountant II', 'Automation Specialist III',
       'Administrative Assistant I', 'Health Coach IV',
       'Media Manager III', 'Account Representative III',
       'Web Designer IV', 'Budget/Accounting Analyst II',
       'Web Developer IV', 'Programmer I', 'Biostatistician III',
       'Software Test Engineer IV', 'Research Assistant IV',
       'Account Representative I', 'Accountant IV', 'Biostatistician I',
       'Human Resources Assistant IV', 'Administrative Assistant IV',
       'Office Assistant I', 'Human Resources Assistant II',
       'Mechanical Systems Engineer', 'Engineer IV', 'Health Coach III',
       'Office Assistant IV', 'Software Engineer I',
       'Human Resources Assistant III', 'Staff Accountant I',
       'Computer Systems Analyst III', 'Geologist II', 'Web Designer II',
       'Staff Accountant IV', 'Account Representative II',
       'Programmer Analyst I', 'Systems Administrator IV',
       'Research Assistant III'], dtype=object)

In [ ]:
# column 7
customer_demographic['job_industry_category'].unique()

array(['Financial Services', 'Property', 'IT', nan, 'Retail',
       'Argiculture', 'Manufacturing', 'Health', 'Telecommunications',
       'Entertainment', 'Male'], dtype=object)

In [ ]:
# Lets check how many column has this issue:
customer_demographic[customer_demographic['job_industry_category'] == 'Male']

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
56,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male

Here the string Male is not fit for job category field

In [ ]:
# Lets delete this
customer_demographic.drop(customer_demographic.loc[customer_demographic['job_industry_category']=='Male'].index, inplace=True)

In [ ]:
# Lets look for it again:
customer_demographic[customer_demographic['job_industry_category'] == 'Male']

Empty DataFrame
Columns: [customer_id, first_name, last_name, gender, past_3_years_bike_related_purchases, DOB, job_title, job_industry_category, wealth_segment, deceased_indicator, default, owns_car, tenure]
Index: []

In [ ]:
# column 8
customer_demographic['wealth_segment'].unique()

array(['Mass Customer', 'Affluent Customer', 'High Net Worth'],
      dtype=object)

In [ ]:
# column 9
customer_demographic['deceased_indicator'].unique()

array(['N', 'Y'], dtype=object)

In [ ]:
# column 10
customer_demographic['default'].unique()

array(["<script>alert('hi')</script>",
       datetime.datetime(2018, 2, 1, 0, 0),
       '() { _; } >_[$($())] { touch /tmp/blns.shellshock2.fail; }',
       'NIL', 'ðµ ð ð ð', 'â°â´âµâââ', '(â¯Â°â¡Â°ï¼â¯ï¸µ â»ââ»)', '0/0',
       'ð©ð½', 'ÅâÂ´Â®â\xa0Â¥Â¨ËÃ¸Ïââ', 'nil', -100, 'â°â´âµ', 'ð', 1e+96,
       'ï¾ï½¥â¿ã¾â²(ï½¡ââ¿âï½¡)â±â¿ï½¥ï¾', 'Î©âÃ§ââ«ËÂµâ¤â¥Ã·',
       'ÅâÂ´â°ËÃÂ¨ËÃâââ', 'ï¼ï¼ï¼',
       '../../../../../../../../../../../etc/hosts',
       '×Ö¸×Ö°×ªÖ¸×testØ§ÙØµÙØ\xadØ§Øª Ø§ÙØªÙØ\xadÙÙ', '<>?:"{}|_+',
       '\'\'\'\'"', ",./;'[]\\-=",
       '() { 0; }; touch /tmp/blns.shellshock1.fail;',
       'ì¬íê³¼íì ì´íì°êµ¬ì', 'testâ\xa0testâ«',
       '0ï¸â£ 1ï¸â£ 2ï¸â£ 3ï¸â£ 4ï¸â£ 5ï¸â£ 6ï¸â£ 7ï¸â£ 8ï¸â£ 9ï¸â£ ð',
       nan, '!@#$%^&*()', "'",
       'Ì¦HÍÌ¬Ì¤ÌÌ¤eÍ ÍÌÌ¥ÌÌ»ÍÌwÌhÌÌ¯ÍoÌÍÌÍÌ±Ì® ÒÌºÌÌÌÍWÌ·Ì¼Ì\xadaÌºÌªÍiÌ¨ÍÍÌ\xadÍÌ¯ÌtÌ¶Ì¼Ì®sÌÌÍÍ Ì\xa0Ì«Ì\xa0BÌ»ÍÍÍÍÌ³eÌµhÌµÌ¬ÍÌ«ÍiÌÌ¹ÍÌ³Ì³Ì®ÍÌ«nÍdÌ´ÌªÌÌ ÍÌ°ÍÌ©ÍÍÍÌ²TÍ¢ÍÌ¼ÍÌªhÍÍÌ®Ì»eÌ¬ÌÍÌ Ì¤Ì¹ÌWÍÍÍÌÌÍÍaÍÍÍÌ¹Ì¼',
       '../../../../../../../../../../../etc/passwd%00', 'åè£½æ¼¢èª',
       '`ââ¬â¹âºï¬ï¬â¡Â°Â·ââÂ±', 'ãã¼ãã£ã¼ã¸è¡ããªãã', 1,
       'ZÌ®ÌÍÌ\xa0ÍÍAÌ¥ÌÌÍÌ»ÌLÌ£ÍÍÌ¯Ì¹ÌÍGÌ»OÌ\xadÌÌ®', 'ã',
       '1;DROP TABLE users', -1, 'á', '(ï¾à²¥çà²¥ï¼ï¾ï»¿ â»ââ»', '00ËÆ$-',
       '1/0', 'ï½ï½¨(Â´âï½â©', "<svg><script>0<1>alert('XSS')</script>",
       'âââ', 'ã»(ï¿£âï¿£)ã»:*:', ',ãã»:*:ã»ãâ( â» Ï â» )ãã»:*:ã»ãâ',
       'â¢', 'ç°ä¸\xadããã«ããã¦ä¸ãã', '__ï¾(,_,*)', 'Ù¡Ù¢Ù£',
       'Ø«Ù ÙÙØ³ Ø³ÙØ·Øª ÙØ¨Ø§ÙØªØ\xadØ¯ÙØ¯Ø, Ø¬Ø²ÙØ±ØªÙ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù Ø£Ù Ø¯ÙÙ. Ø¥Ø° ÙÙØ§Ø Ø§ÙØ³ØªØ§Ø± ÙØªÙØµÙØ¨ ÙØ§Ù. Ø£ÙÙÙ Ø§ÙØ·Ø§ÙÙØ§Ø Ø¨Ø±ÙØ·Ø§ÙÙØ§-ÙØ±ÙØ³Ø§ ÙØ¯ Ø£Ø®Ø°. Ø³ÙÙÙØ§ÙØ Ø¥ØªÙØ§ÙÙØ© Ø¨ÙÙ ÙØ§, ÙØ°ÙØ± Ø',
       'ð¾ ð ð ð ð ð ð ð§', "<img src=x onerror=alert('hi') />",
       'ã½à¼¼àºÙÍàºà¼½ï¾ ã½à¼¼àºÙÍàºà¼½ï¾', 'âð¿ ðªð¿ ðð¿ ðð¿ ðð¿ ðð¿',
       100,
       'TÌÌ\xadÌºÌºoÍ Ì·iÌ²Ì¬ÍÌªÍnÌÌÍvÍÌÌÌÌ¦oÌ¶ÌÌ°Ì\xa0keÍÍÌ®ÌºÌªÌ¹Ì±Ì¤ ÌtÍÌÍÌ³Ì£Ì»ÌªhÌ¼ÍÌ²Ì¦Ì³ÌÌ²eÍÌ£Ì°Ì¦Ì¬Í Ì¢Ì¼Ì»Ì±ÌhÍÍÍÍÌÌ£Ì²iÌ¦Ì²Ì£Ì°Ì¤vÌ»ÍeÌºÌ\xadÌ³ÌªÌ°-mÌ¢iÍnÌÌºÌÌ²Ì¯Ì°dÌµÌ¼ÌÍÌ©Ì¼ÌÌ³ ÌÌ¥Ì±Ì³Ì\xadrÌÌÌeÍpÍ\xa0rÌ¼ÌÌ»Ì\xadÌeÍÌºÌ\xa0Ì£sÌ',
       'ÃÃÃÃËÃÃï£¿ÃÃÃâ', '(ï½¡â â âï½¡)', 'é¨è½æ\xa0¼',
       "ËÉnbá´lÉ ÉuÆÉÉ¯ ÇÉ¹olop ÊÇ ÇÉ¹oqÉl Ên Êunpá´pá´Éuá´ É¹odÉ¯ÇÊ poÉ¯sná´Ç op pÇs 'Êá´lÇ Æuá´Ésá´dá´pÉ É¹nÊÇÊÉÇsuoÉ 'ÊÇÉ¯É Êá´s É¹olop É¯nsdá´ É¯ÇÉ¹oË¥",
       'á\xa0',
       '×Ö¼Ö°×¨Öµ××©×Ö´××ª, ×Ö¼Ö¸×¨Ö¸× ×Ö±×Ö¹×Ö´××, ×Öµ×ª ×Ö·×©Ö¼×Ö¸×Ö·×Ö´×, ×Ö°×Öµ×ª ×Ö¸×Ö¸×¨Ö¶×¥',
       'Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ\xa0',
       '/dev/null; touch /tmp/blns.fail ; echo', "1'; DROP TABLE users--",
       'ð¾ ð ð ð ð ð ð ð',
       'Ì¡ÍÍÌIÍÌÌÌ¦nÍÍÍvÌ®Ì«okÌ²Ì«ÌÍiÌÍÌ\xadÌ¹Ì\xa0ÌnÌ¡Ì»Ì®Ì£ÌºgÌ²ÍÍÌ\xadÍÌ¬Í Ì°tÍÌ¦hÌÌ²eÌ¢Ì¤ ÍÌ¬Ì²ÍfÌ´ÌÍÌ£eÍÍeÌ£Ì¥Ì©lÍÍÍiÍ\xa0ÍÍÌ¦nÍÍÌÍÌ³Ì®gÍ Ì¨oÍ¡ÍÌªfÌÌ£Ì¬ ÌÌÍÌÍÌ®cÒÍÌ«ÍÍÍÍÍhÌµÌ¤Ì£ÍÍaÍÌÌ¼ÍÍoÌ¼Ì£Ì¥sÍ¢Ì±ÍÌºÌÌ¦Ì».ÌÌ',
       'â', 'Â¸ËÃâÄ±ËÃÂ¯ËÂ¿', '"\'', 'ì¸ëë°í\xa0ë¥´', -0.5,
       'ÌÌºÍÌ¹Ì¯ÍTÌ±Ì¤ÍÌ¥ÍÍhÍÌ²eÍÍÌ¼ÌÌÌ¼Ì£Í ÍÌÌ±Ì\xa0ÍÍÍNÍ\xa0ÍeÌÌ±zÌÌÌÌºÍpÌ¤ÌºÌ¹ÍÌ¯ÍeÍÌ\xa0Ì»Ì\xa0rÌ¨Ì¤ÍÌºÌÍÌÌdÍÌ\xa0ÌÌ\xadÌ¬ÌiÌ¦ÍÌ©ÍÍÌ¤aÌ\xa0ÌÌ¬ÍÌnÍÍ Ì»ÌÌ°ÍÍhÌµÍiÌ³ÌvÌ¢ÍeÍÌ\xadÍ-ÒÌ\xadÌ©Ì¼ÍmÌ¤Ì\xadÌ«iÍÍÌÌ¦nÌÍdÌ£Ì ÍÌ¯Ì²ÍoÌ¨ÌÌ¯Ì°Ì²',
       0, 'â©testâ©', 'â£', 'Ã¥ÃâÆÂ©ËâËÂ¬â¦Ã¦',
       'ç¤¾æç§å\xad¸é¢èªå\xad¸ç\xa0ç©¶æ', 'âªâªtestâª', 'ï»¿',
       'â¤ï¸ ð ð ð ð ð ð ð ð ð ð ð ð ð ð', 'â«testâ«', 'â¦testâ§',
       '\'"\'\'\'\'"', 'â¡', 'ð\xa0ð\xa0±ð\xa0¹ð\xa0±ð\xa0±¸ð\xa0²ð\xa0³'],
      dtype=object)

* The default field may have an error related to character encoding. We also don't know what kind of information it had.
* This issue can be solved while we are uploading our dataset.
* Still need some understanding about the information from the datasource.

In [ ]:
# column 11
customer_demographic['owns_car'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
# column 12
customer_demographic['tenure'].unique()

array([16.0, 15.0, 7.0, 8.0, 13.0, 11.0, 20.0, 9.0, 6.0, 1.0, 18.0, 21.0,
       12.0, 19.0, 14.0, 4.0, 22.0, 5.0, 17.0, 2.0, 3.0, 10.0, nan],
      dtype=object)

In [ ]:
# column 13 
customer_demographic['customer_id'].unique()

array([2, 3, 4, ..., 3998, 3999, 4000], dtype=object)

### 4.3. Customer Address

---

In [ ]:
# Lets check again for number of columns this dataset has:
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [ ]:
# column 1:
customer_address['customer_id'].unique()

array([   1,    2,    4, ..., 4001, 4002, 4003])

In [ ]:
# column 2
customer_address['address'].unique()

array(['060 Morning Avenue', '6 Meadow Vale Court', '0 Holy Cross Court',
       ..., '87 Crescent Oaks Alley', '8194 Lien Street',
       '320 Acker Drive'], dtype=object)

In [ ]:
# column 3
customer_address['postcode'].unique()

array([2016, 2153, 4211, 2448, 3216, 2210, 2650, 2023, 3044, 4557, 3799,
       2760, 2428, 3331, 3058, 2135, 2233, 2444, 4413, 4740, 3218, 4868,
       4116, 2519, 2756, 2170, 4005, 4127, 2535, 4726, 4805, 2212, 2207,
       3350, 3931, 4018, 4670, 2480, 3212, 2322, 3198, 2047, 4503, 2145,
       4350, 2142, 2029, 2127, 4280, 2166, 2046, 2026, 2765, 2749, 2745,
       3752, 2217, 2230, 3046, 3183, 2070, 2213, 4208, 2774, 4133, 4213,
       4170, 2073, 3561, 2330, 3977, 2204, 2086, 2226, 2075, 2038, 2069,
       2100, 3133, 3070, 2777, 2125, 2766, 2209, 2160, 2065, 2150, 2168,
       4171, 2155, 2517, 2096, 2750, 2093, 3204, 4300, 3844, 4226, 3192,
       2485, 2097, 4817, 2516, 3074, 4508, 4405, 2452, 2205, 4132, 4744,
       2158, 3201, 4178, 2112, 2033, 4401, 3186, 4017, 2315, 2285, 2219,
       4509, 2759, 2747, 2227, 2025, 3191, 3025, 2263, 2154, 2119, 3016,
       4113, 2032, 4352, 3020, 2116, 3057, 2099, 3749, 2148, 3145, 2021,
       2333, 2783, 2280, 4120, 3638, 2074, 2880, 2430, 4560, 2088, 2220,
       3031, 2250, 2261, 3196, 4680, 3143, 2063, 3021, 2138, 4811, 2085,
       3084, 3170, 2066, 4078, 2222, 3152, 2159, 4655, 4220, 4012, 2015,
       2776, 3011, 2761, 2502, 2110, 2566, 2506, 2508, 2036, 2018, 3666,
       4514, 2525, 4152, 2200, 3023, 3500, 2283, 2102, 2040, 2304, 2340,
       3580, 3355, 2287, 2324, 2323, 2320, 2346, 2031, 2064, 2176, 3195,
       2010, 2768, 2752, 3802, 3071, 4735, 3081, 3205, 2165, 3125, 4214,
       2030, 2767, 2798, 2117, 4551, 3064, 3810, 4151, 2830, 3030, 4812,
       2141, 3029, 2173, 3199, 4506, 2035, 3340, 3182, 2450, 2216, 3796,
       3197, 2232, 2365, 4701, 4210, 2223, 4122, 2515, 3437, 3338, 2203,
       3356, 3223, 3032, 3105, 3101, 2763, 2089, 2126, 2147, 2251, 3127,
       3087, 3131, 3134, 2193, 4055, 2530, 4217, 4020, 2179, 3130, 4570,
       3215, 3165, 3936, 2265, 3034, 2062, 2162, 3033, 2144, 3805, 2642,
       3228, 3444, 2076, 4124, 4305, 2579, 2835, 3337, 2536, 2770, 2646,
       4558, 2211, 2570, 4552, 3082, 2360, 4223, 4370, 3150, 2549, 3040,
       4209, 4173, 2068, 3806, 2259, 2260, 4074, 4215, 3008, 2748, 2567,
       3015, 4221, 3121, 4870, 2118, 2050, 2120, 3812, 3111, 3012, 2197,
       3162, 2037, 3141, 3178, 3564, 3550, 3775, 3004, 3185, 2447, 3910,
       3621, 4702, 2133, 3075, 3911, 2487, 4123, 2151, 3156, 3126, 2027,
       3124, 2564, 2049, 3690, 3282, 2576, 3108, 4165, 2218, 2190, 2337,
       2307, 2121, 2716, 3168, 3076, 2478, 2560, 2087, 4505, 2630, 2225,
       3013, 3136, 2111, 2106, 3930, 2291, 2305, 2300, 4179, 2539, 3207,
       4340, 3137, 3068, 4580, 2041, 4504, 2306, 4075, 3975, 4114, 4341,
       4022, 4820, 3028, 4035, 2326, 3429, 4218, 2380, 3171, 2565, 3850,
       3807, 4800, 2577, 2199, 2134, 4053, 2800, 2048, 2194, 2557, 2548,
       2262, 2463, 2481, 2072, 3155, 3095, 4207, 4110, 2017, 2769, 4562,
       2571, 3480, 3551, 2753, 3093, 4615, 3174, 2192, 2290, 3073, 4810,
       4121, 2229, 4118, 2594, 3750, 4019, 2540, 2293, 2143, 3630, 2164,
       4869, 2137, 2354, 4814, 2282, 2292, 2171, 2077, 4873, 4006, 2754,
       2152, 2067, 2122, 3976, 2000, 3175, 2156, 2228, 3187, 2680, 2527,
       2163, 2336, 4415, 3139, 3147, 3623, 4356, 2034, 2196, 2177, 2234,
       2537, 4720, 3765, 2486, 4511, 2795, 3188, 3730, 3060, 4131, 2518,
       3158, 2477, 2195, 2575, 3400, 3037, 4507, 2113, 2443, 3177, 2641,
       4212, 3241, 3428, 4227, 4034, 2558, 2460, 3173, 2289, 4500, 4825,
       4161, 3757, 2871, 2146, 4380, 3024, 3934, 3109, 2136, 2484, 3225,
       4068, 2214, 3809, 2454, 4556, 4573, 2131, 3184, 2619, 3138, 3441,
       2101, 4510, 2647, 2731, 3284, 2573, 2206, 4815, 2526, 4502, 2710,
       2090, 3038, 3142, 3442, 4064, 2529, 3039, 2061, 3644, 2104, 2044,
       3043, 2873, 2541, 2321, 2079, 3072, 2007, 2620, 2231, 2580, 2020,
       2852, 3677, 4818, 4519, 4806, 4610, 4512, 4306, 4304, 4301, 4205,
       4051, 4130, 4115, 4164, 4128, 3940, 3939, 3840, 3804, 2582, 3747,
       3620, 3151, 3380, 3280, 3224, 3222, 3226, 3190, 3169, 3163, 3161,
       3791, 4119, 3140, 3818, 3106, 3099, 3754, 3756, 3061, 3048, 3036,
       3107, 3022, 3049, 2870, 2762, 2794, 2773, 2640, 2439, 2528, 2440,
       2325, 2161, 2848, 4878, 2775, 2224, 3219, 2441, 4877, 3264, 2681,
       3018, 2043, 2107, 4567, 4011, 2221, 2028, 3941, 3146, 3585, 4105,
       2094, 2284, 3808, 3149, 3114, 3352, 3129, 4154, 2114, 4721, 2011,
       4157, 4799, 2095, 3103, 4224, 4344, 2009, 3144, 3181, 2665, 2474,
       3166, 2820, 4059, 4160, 3189, 4030, 2042, 4032, 4103, 2868, 2358,
       2449, 2299, 4014, 3056, 2281, 4007, 2318, 3821, 4109, 4216, 2470,
       2563, 2264, 2445, 4060, 3214, 4077, 2327, 4104, 3172, 2505, 2115,
       2469, 2705, 3088, 3966, 3912, 2446, 2810, 4061, 3083, 3915, 4153,
       2267, 3458, 4421, 3505, 3006, 4037, 3918, 2335, 3079, 2400, 3148,
       2092, 2714, 3555, 2008, 3631, 4228, 4101, 2022, 4568, 3115, 4343,
       3116, 2208, 4125, 4070, 3194, 2533, 2758, 4159, 4879, 2500, 2298,
       2178, 3240, 2671, 4455, 4650, 3160, 3250, 3342, 3523, 2350, 2785,
       3995, 3351, 3000, 2462, 3041, 3260, 2534, 4565, 3618, 2780, 2167,
       3279, 4106, 4700, 2799, 4564, 4860, 3922, 2256, 4031, 2779, 4660,
       4073, 3067, 2843, 3027, 3066, 2572, 2128, 4054, 4069, 2343, 3377,
       3065, 2295, 4270, 2316, 3179, 3933, 4883, 2081, 2471, 3053, 4285,
       2546, 4275, 3132, 3042, 3085, 2071, 2821, 4390, 3793, 3128, 2869,
       3616, 4750, 3059, 3153, 2130, 3213, 3862, 3610, 4102, 2060, 3786,
       2019, 2191, 2713, 3094, 3122, 2850, 4272, 3051, 3634, 3803, 4515,
       2700, 3123, 2294, 3978, 3305, 2198, 2778, 4730, 4155, 4000, 4225,
       3556, 4575, 4715, 2429, 4555, 2132, 2045, 2024, 4076, 3321, 3193,
       2390, 2806, 2257, 4172, 3078, 3104, 3860, 2658, 3052, 4163, 2590,
       2550, 2877, 4311, 3089])

In [ ]:
# column 4
customer_address['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [ ]:
# column 5
customer_address['country'].unique()

array(['Australia'], dtype=object)

In [ ]:
# column 6
customer_address['property_valuation'].unique()

array([10,  9,  4, 12,  8,  6,  7,  3,  5, 11,  1,  2])

The customer address dataset have all proper values

### 5.Relevancy
* It involves looking at information about the data items in another words metadata.

### 6.Validity
*   This stage involves looking for fields having allowable values

* We alerady have looked at the transaction dataset which states that product_first_sold_date have in-valid values
* Customer demograohic dataset have a default column which has character encoding issues.
* Customer Address have all valid values

### 7.Uniqueness
* This phase involves looking at the duplicate values in the dataset.

### 7.1.Transactions dataset


---

In [ ]:
# Lets get forward looking at the dupicated values
transactions.duplicated().sum()

0

This suggest our dataset Transactions is free from duplicated values.

### 7.2. Customer demographic dataset
---

In [ ]:
# Lets look for duplicated value at our customr demographic dataset
customer_demographic.duplicated().sum()

0

Customer demographic dataset have no duplicated values.

### 7.3. Customer address

---

In [ ]:
# Lets have a look at our final dataset for duplicate values
customer_address.duplicated().sum()

0

This dataset as well had no duplicated values.

### 8.Currency
* To check is value up to date

### 8.1. Transaction

In [ ]:
# Lets look at the earliest or first date of transaction
transactions['transaction_date'].min()

Timestamp('2017-01-01 00:00:00')

The first date of transaction is 1st January 2017

In [ ]:
# Lets look at the recent or the latest date of 
transactions['transaction_date'].max()

Timestamp('2017-12-30 00:00:00')

The latest date of transaction is 30th December 2017